
<app-layout></app-layout>
<router-outlet></router-outlet>
<div style="text-align:center">
  <h1>
    Link is {{exBackendURL}}
  </h1>
  <button value="Add" id="Add" (click)="addNew()">Add</button>
  <button value="Edit" id="Edit" (click)="editElement()">Edit</button>
  <button value="Delete" id="Delete" (click)="removeElement()">Delete</button>
  <ul class = "superlist" id = "superlist">
    <h2 id="supHeader">
      <ng-container id= "container" *ngFor="let item of mylist" >
        <ng-template *ngIf="testfunc1(item.contentEditable); then thenBlock else elseBlock">
        </ng-template>
        <ng-template #elseBlock ><a><li id = "{{item.id}}" contentEditable="{{item.contentEditable}}" [ngStyle]="{'background-color': item.backgroundColor}">{{item.node}}</li>
          <button value="OK" id="OK" (click)="confirmAction(item.id)">OK</button>
          <button value="Cancel" id="Cancel" (click)="cancelAction(item.id)">Cancel</button></a>
        </ng-template>
        <ng-template #thenBlock ><a><li id = "{{item.id}}" contentEditable="{{item.contentEditable}}" [ngStyle]="{'background-color': item.backgroundColor}"  (click)="checkHighlight(item.id)">{{item.node}}</li></a>
        </ng-template>
      </ng-container>
    </h2>
  </ul>
</div>
