<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul style="text-align:center">
  <li>
    <h2>My super frontend.</h2>
    <h2>I hope this application will be good practice in:</h2>
    <ul>
      <h3>
        spring
      </h3>
    </ul>
    <ul>
      <h3>
        angular
      </h3>
    </ul>
    <ul>
      <h3>
        microservice architecture
      </h3>
    </ul>
    <ul>
      <h3>
        databases
      </h3>
    </ul>
    <ul>
      <h3>
        openshift
      </h3>
    </ul>
    <ul>
      <h3>
        ci
      </h3>
    </ul>
  </li>
</ul>
<div style="text-align:center">
  <h2><a href="/start">Press here to continue</a></h2>
</div>
<router-outlet></router-outlet>
